<% unless @links.empty? %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul class="nav nav-tabs">
    <% for link in @links %>
      <li><a href="<%= link.href %>" rel="<%= link.rel %>"><%= link.prompt %></a>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1><%= @title %></h1>
    <% unless @body.nil? %>
      <p><em><%= @body %></em></p>
    <% end %>
  </div>
</div>
<% unless @queries.empty? %>
<% for @query in @queries %>
<div class="row">
  <div class="col-lg-12">
    <form action="<%= @query.href %>" role="form" method="GET" class="form-horizontal">
    <% for @input in @query.data %>
      <% @type = @input.name == "password" ? "password" : "text" %>
      <div class="form-group">
      <label class="col-sm-2 control-label" for="<%= @input.name %>">
        <%= @input.prompt %>
      </label>
      <div class="col-sm-8">
        <input type="<%= @type %>" class="form-control" name="<%= @input.name %>" value="<%= @input.value %>" autocomplete="off"/>
      </div>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <input class="btn btn-default" type="submit" value="Search"/>
      </div>
    </div
    </form>
  </div>
</div>
<% end %>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <% unless @error.nil? %>
      <div class="error">
        Error: <%= @error.title %><br/>
        <%= @error.message %>
      </div>
    <% end %>
    <% unless @inputs.nil? %>
    <form role="form" action="<%= @href %>" method="POST" class="form-horizontal">
    <% for @input in @inputs %>
      <% @type = @input.name == "password" ? "password" : "text" %>
      <div class="form-group">
      <label class="col-sm-2 control-label" for="<%= @input.name %>">
        <%= @input.prompt %>
      </label>
      <div class="col-sm-8">
        <input type="<%= @type %>" class="form-control" name="<%= @input.name %>" value="<%= @input.value %>" autocomplete="off"/>
      </div>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <input class="btn btn-primary" type="submit" value="Submit"/>
      </div>
    </div
    </form>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <% for @item in @items %>
      <table class="table items-list">
        <% if @item.href %>
          <caption>
            <a href="<%= @item.href %>">
              <%= URI(@item.href).path %>
            </a>
          </caption>
        <% end %>
        <% for datum in @item.data %>
          <% unless datum.value.nil? %>
            <tr>
              <td class="item-datum-prompt">
                <%= datum.prompt %>
              </td>
              <td class="item-datum-value">
                <strong><%= datum.value %></strong>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <div class="items-links">
      <% for link in @item.links %>
        <a class="btn btn-primary btn-xs" href="<%= link.href %>" rel="<%= link.rel %>">
          <%= link.prompt %>: <%= abridge link.href %>
        </a>
      <% end %>
      </div>
      <hr/>
    <% end %>
  </div>
</div>
<% unless @pagination.empty? %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul class="pagination">
    <% for link in @pagination %>
      <li><a href="<%= link.href %>" rel="<%= link.rel %>"><%= link.prompt %></a>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
